---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const identity = {
  firstName: "Gavin",
  lastName: "Edwards",
  handle: "DarthPackman",
  country: "Canada",
  occupation: "Student & Service Desk Analyst",
  employer: "BCLC",
  hobbies: 
  ["Video Games", 
  "Board Games", 
  "War Games", 
  "Trading Card Games", 
  "Tabletop Roleplaying Games",
  "Live Streaming"]
};
const skills = 
["HTML", 
"CSS", 
"JavaScript", 
"C#", 
"C++",
"Java",
"Python",
"Astro", 
"C",
"MARIE"];
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Gavin Edwards</h2>
    <p>My name is {identity.firstName}.</p>
    <p>I live in {identity.country} and I work as a {identity.occupation} at {identity.employer}.</p>
    <ul>
        <p>My interests include:</p>
        <li>{identity.hobbies[0]}</li>
        <li>{identity.hobbies[1]}</li>
        <li>{identity.hobbies[2]}</li>
        <li>{identity.hobbies[3]}</li>
        <li>{identity.hobbies[4]}</li>
        <li>{identity.hobbies[5]}</li>
    </ul>
    <ul>
        <p>My skills are:</p>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>